# Dependencias
node_modules/
npm-debug.log*

# Variables de entorno
.env
.env.local

# Base de datos
*.db
*.db-journal
server/backups/

# Archivos del sistema
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Build
dist/
build/

# Logs
*.log
logs/